#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	PATH=${CURDIR}/debian/tmp/usr/bin:$${PATH} DESTDIR=${CURDIR}/debian/tmp ./summon-arm-toolchain PREFIX=/usr OOCD_EN=0

override_dh_strip:
	dh_strip -Xdebian/arm-none-eabi-libc/
